*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #4AB1FF, #2D5CFE);
  }

  .container{
    text-align: center;
    padding-top: 3em;
  }

  #task-input {
  display: inline-block;
  height: 8em;
  width: 30em;
  text-align: center;
  background-color: white;
  padding: 1em 0 0 0 ;
  border: solid 2px ;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  margin-bottom: 1em;
  }

 h2 {
    font-weight: bold;
    margin-bottom: 1em;
  } 

  #new-task {
 height: 100%;
    width: 60%; 
  font-size: 1em;
  border-radius: 5px;
  padding: 0 0.6em 0 0.6em;
  border: 1px solid #999;
  }

  #saved-task {
    display: inline-block;
    text-align: center;
    min-height: 10em;
    width: 30em;
    background-color: white;
    padding: 1em 0 1em 0 ;
    border: solid 2px ;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
    display: inline-block;
    background-color: white;
  }

.unorder-list {
  
  height: 8em;
  width: 30em;
}

.task {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  text-align: left;
  background-color: white;
  padding: 0.5em 0 0.5em 0.5em ;
  border-bottom: solid 1px;
}
